<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title | html.escape }}{{ if page_title != site.title }} &mdash; {{ page_title | html.escape }}{{ end }}</title>
  {{ include 'opengraph' }}
  <link rel="stylesheet" href="{{ prefix }}js/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="{{ prefix }}css/site.css">
  {{ if breadcrumbs.size == 0 }}<style>body { padding-top: 66px; }</style>{{ end }}
</head>
<body>
  {{ include 'header' }}

  <div class="container pt-4">
    <h2 class="mb-4">{{ page_title | html.escape }}</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{ for item in items -}}
      {{ include 'card' }}
      {{ end -}}
    </div>
  </div>

  {{ include 'footer' }}
  <script src="{{ prefix }}js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
